h2 {
    margin-top: 0px !important;
    margin-bottom: 16px !important;
    color: #fff ;
    font-size: 44px;
    line-height: 1.182em !important;
    font-weight: 700 !important;
}h1 {
    margin-top: 0px !important;
    margin-bottom: 24px !important;
    color: #fff;
    font-size: 60px;
    line-height: 1.2em !important;
    font-weight: 700 !important;
    letter-spacing: 0.02em;
}