 .cavt {
     color: #b7b4c7 !important;
     font-size: 18px !important;
     line-height: 1.667em !important;
     font-weight: 500 !important;
 }

 .primary-text {
     color: rgb(93, 248, 204) !important;
 }